# Fichiers d'environnement
.env
*.env
.venv/
venv/

# Pycache et fichiers temporaires
__pycache__/
*.py[cod]
*.sqlite3
*.log

# VSCode
.vscode/

# Migrations (si tu veux les ignorer)
# */migrations/

# Fichiers de test
*.pytest_cache/
